doctype html
html(lang="en")
  head
    title='Doge to the MOOOOOOON!'
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400', rel='stylesheet', type='text/css')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='./css/main.css')
  body
    h1#main-title
      span='Destination:'
      =' moon'
    #sidebar.ui
      nav
        ul
          li.active
            .icon
              i.fa.fa-btc
          li
            .icon
              i.fa.fa-calendar-o
          li
            .icon
              i.fa.fa-question
      .content
        .padded-content
          h2='How to play?'
          p='Sent bits to boost Doge flight speed and sent him TO THE MOOOON!'
          hr
          label='Calculate'
          input#calc(type='text')
          p
            span#meters
            span=' meters up'
          #qrcode
          p='1moonuxU6PAFEpYSegfDAKwqnF6CFZiWn'
    #progressbar.ui
      #moon
      .background
      .progress
        .textprogress='0%'
        .futureprogress

  script(type='text/javascript', src='./js/blockchain.js')
  script(type='text/javascript', src='./js/qrcode.js')
  script(type='text/javascript', src='./js/ui.js')
  script(type='text/javascript', src='./js/main.js')
